*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 44%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 156.25em) {
    html {
      font-size: 100%; } }
  @media only screen and (min-width: 240em) {
    html {
      font-size: 125%; } }
  @media only screen and (min-width: 480em) {
    html {
      font-size: 150%; } }

body {
  box-sizing: border-box; }

canvas {
  height: 100%;
  width: 100%;
  background: #000; }

body, html {
  height: 100%;
  width: 100%; }
